$mainColor: #46b04a;
$switchBackground: #e1efb0;
$firstColor: #e1efb0;
$secondColor: #82867d;
$sidebarBackground: #f4f6f3;
$underline: #e7ede8;
$options: #2f3841;

$meatColor: #c4180c;
$veganColor: #ee8546;
$glutenColor: #c8954b;

$meatBackground: #ffdbdb;
$veganBackground: #e1efb0;
$glutenBackground: #ffeedb;
