.IconsTagBackground {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
