@import "../../../../globalStyles/colors";
.Container {
    padding: 0 24px;
    .Wrapper {
        display: flex;
        justify-content: space-around;
        border: 1px solid $underline;
        border-radius: 10px;
        height: 140px;
        box-shadow: 1px 0 15px -12px;
        margin-bottom: 10px;
        .Images {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .ImageDumplings {
                height: 100px;
                width: 100px;
                border-radius: 10px;
            }
        }
        h2 {
            color: $options;
            font-size: 20px;
        }
        p {
            font-size: 13px;
            font-weight: 500;
            color: $secondColor;
        }
        .Description {
            width: 60%;
            .DescriptionTags {
                display: flex;
            }
        }
        .Price {
            position: relative;
            width: 10%;
            display: flex;
            flex-direction: column;
            p {
                color: black;
                font-size: 18px;
                span {
                    color: $secondColor;
                    font-weight: 400;
                }
            }
            button {
                background: $switchBackground;
                color: $mainColor;
                font-size: 20px;
                outline: none;
                cursor: pointer;
                border: $switchBackground;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                text-align: center;
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }
    }
}
