@import "../../../globalStyles/colors.scss";

.Locker__style {
    color: $mainColor;
}
.Bell__style {
    color: $secondColor;
}
.Pencil__style {
    color: $secondColor;
}
.Icons {
    margin: 0 15px;
}
