@import "../../../../globalStyles/colors";

.Container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .LogOut {
        height: 140px;
        display: flex;
        align-items: flex-end;
    }
}
