@import "../../../../globalStyles/colors";

.MenuDetails__Container {
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .LogOut__Style {
        height: 100px;
        display: flex;
        align-items: flex-end;
    }
}
