@import "../../../../globalStyles/colors";
.Container {
    display: flex;
    flex-direction: column;
    height: 330px;
    h2 {
        font-size: 12px;
        color: $secondColor;
        align-items: center;
    }
}
